In [15]:
import pandas as pd
import numpy as np
from pandas.io import sql
import sqlite3

Given the data file linked below, what is the name of the tag with the lowest id that has a post count equal to the median post count?

In [63]:
## Establish sql connection
sqlite_db = 'trello_table.sqlite'
conn = sqlite3.connect(sqlite_db)

In [ ]:
## Create table from csv
pd.read_csv("tags.csv", sep = '~', encoding = 'utf-8').to_sql('trello_tags',con=conn,if_exists='replace',index=False)

In [62]:
## median query
sql.read_sql('''

SELECT TagName
FROM  trello_tags
WHERE Count == (SELECT AVG(Count)
                FROM (SELECT Count
                      FROM trello_tags
                      ORDER BY Count
                      LIMIT 2 - (SELECT COUNT(*) FROM trello_tags) % 2    
                      OFFSET (SELECT (COUNT(*) - 1) / 2
                              FROM trello_tags))) 
ORDER BY ﻿Id ASC
LIMIT 1          
              
              
              
              ;''', con=conn)

  TagName
0   sound

For another way, here's how I'd handle this challenge in Python.

In [64]:
df = pd.read_csv("tags.csv", sep = '~')

In [65]:
len(df)

233

In [66]:
df['med'] = df['Count'].median(axis = 0)

In [72]:
df[df['Count']==df['med']][:1]

    ﻿Id TagName  Count  ExcerptPostId  WikiPostId   med
49   79   sound     10         1046.0      1045.0  10.0